{% extends 'base.html.twig' %}

{% block title %}New Peinture{% endblock %}

{% block body %}
    <h1>Create new Peinture</h1>

    {{ include('peinture/_form.html.twig') }}

    <a href="{{ path('app_peinture_index') }}">back to list</a>
{% endblock %}
